* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
    color: #444;
}

body {
    background: linear-gradient(#2980b9, #2c3e50);
    background-attachment: fixed;
}

img {
    width: 100%;
}
.container {
    margin: 40px auto 20px auto;
    padding: 15px 60px;
    width: 80%;
    max-width: 800px;
    background-color: #FFF;
}

.header {
    display: grid;
    height: 200px;
    margin: -15px -60px;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 10px;
    background-image: url("img/longyearbyen.jpg");
    background-position: center;
    background-size: cover;
}

.logo {
    width: 130px;
    grid-row: span 2;
    align-self: center;
    justify-self: center;
}

h1 {
    color: #FFF;
    text-shadow: 0px 2px 4px #000000;
    font-size: 3.5em;
    justify-self: center;
    align-self: end;
}

header > nav {
    align-self: end;
    justify-self: center;
    padding-bottom: 6px;
    font-size: 1.2em;
}

header > nav > a {
    padding: 6px;
    color: #FFF;
}

main {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 10px 90px;
    grid-template-areas: "article sidebar";
}

header > h2 {
    font-size: 2.5em;
    font-style: italic;
}

header > p {
    font-size: 0.8em;
    margin-top: 1px;
}

.articles {
    display: flex;
    flex-direction: column;
}
article {
    margin: 20px 0;
}

p {
    margin: 20px 0;
}

article > a {
    text-decoration: none;
}

article > header {
    margin-bottom: 15px;
}

.sidebar {
    margin-top: 20px;
    grid-area: sidebar;
    list-style-position: inside;
}

.sidebar section {
    margin: 25px 0;
}

.linkButton {
    background-color: #e7e7e7;
    color: black;
    padding: 10px 20px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }

  footer > p {
      margin: 0;
  }
footer {
    border-top: 1px #444 dotted;
    margin-top: 10px;
    padding: 10px 0;
    grid-column: 1 / -1;
}